### Project: General
app/www/content/plugins/*
app/www/content/themes/*

### Project: Allowed Plugins & Themes
!app/www/content/plugins/plugin/
!app/www/content/themes/theme/

### Project: Front-end
app/frontend/node_modules

### WP Starter
.env
app/www/wp-config.php
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
app/www/wp/
app/www/content/uploads
app/www/vendor/
data/

### Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk


### OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Linux
.directory
.Trash-*
*~


### JetBrains
*.iml
.idea/
*.ipr
*.iws
.idea_modules/


### NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/


### SublimeText
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json


### Emacs
# -*- mode: gitignore; -*-
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive
*_flymake.*
/eshell/history
/eshell/lastdir
/elpa/
*.rel
/auto/
.cask/


### Dreamweaver
_notes
dwsync.xml


### TextMate
*.tmproj
*.tmproject
tmtags


### Eclipse
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.buildpath


### Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.target
.texlipse